.item_display{
  display: flex;
  list-style: none;
}

.item_display li {
  padding : 20px;
}
.main_image{
  width:100px;
}
.list_area{
  display: flex;
  justify-content: center;
}
.nav_top{
  display: flex;
  justify-content: end;
}
.nav_top div {
  padding: 10px;
}
.nav_mid{
  display: flex;
  justify-content: center;
}
.itemCol{
  display: flex;
}